@tailwind base;
@tailwind components;
@tailwind utilities;

.header-link {
  margin: 0;
  transition: all 700ms;
}

.header-link-active {
  margin-left: 20px;
  opacity: 1;
  transform: scale(1);
  transition: all 700ms;
}
